<!DOCTYPE html>
<head>
  <title>Printing to {{numbers[-1]}}</title>
</head>
<body>
  <p>Printing to {{numbers[-1]}}</p>
  <ul>
    {% for elem in numbers %}
      <li>{{ elem }}</li>
    {% endfor %}
  </ul>
</body>
</html>
